body{
    margin: 0px ;
    

}

/* Banner style */
.header{
    background-image: url(./images/banner/banner3.png);
    
    width: 1600px;
    height: 808px;
    text-align: right;
    margin-bottom: 130px;
   
}
.section-tittle{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
    margin-top: 0;
    padding-top: 216px;
    padding-right: 230px;
    
   
    
}
.section-description{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding-right: 230px;
    margin-bottom: 32px;
    
    
}
.btn-primary{
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 26px;
    height: 64px;
    border-radius: 5px;
    border: none;
    margin-right: 230px;
    margin-bottom: 166px;
    
}
main{
    width: 1072px;
    margin: 0 auto;
}
/* failure styles */
.failure-container{
    display: flex;
    
    align-items: center;
}
.failure{
    margin-left: 87px;
   
}
 .failure-tittle{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
   
    
} 
.failure-description{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
   
}
/* font awesome */
.icon{
    color: green;

}
/* My plan style */
.plan-tittle{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 130px;
}
.skills-container{
    display: flex;
}
.skills{
    margin-left: 86px;
}
.skill-tittle{
    color: #151414;
   
}
/* Gradient styles */
.gradient-container{
    background-image: linear-gradient(
        
        rgba(21, 43, 238, 0.064),
        rgba(191, 212, 212, 0.93)
      ),
      url(images/watch.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.gradient{
    margin-left: 63px;
    padding-right: 618px;
   
}
.gradient-tittle{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    padding-top: 65px;

}
.btn-secondary{
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 20px 26px;
    border-radius: 5px;
    border: none;
    margin-bottom: 52px;
    
}
/* contact styles */


.contact{
    text-align: center;
}
.contact-tittle{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 0;
}
.contact-descrption{
    font-weight: 400;
    font-size: 30px;
    margin-top: 0;
}
.address-tittle{
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
   
}
.address{
    background-color: aquamarine;
    width: 700px;
    height: 300px;
    margin: auto;
}
.input-contact
{
    display: flex;
    justify-content: center;


}
.input-conct{
    width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid gray;
}
.btn-submit{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background-color: #005FAC;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 25px;
    
}
.contact-btn-div{
 display: flex;
 justify-content: center;
}
/* Footer styles */
footer{
    background: #151414;
    color: #FFFFFF;
    display: flex;
    margin-top: 85px;
     gap: 50px;
    align-items: center;
    margin-bottom: 60px;
}
.footer-info{
    padding-left: 200px;
    padding-top: 170px;
    margin-bottom: 80px;
}
.footer-tittle{
    font-weight: 700;
    font-size: 45px;
}
.footer-subs{
    padding-right: 200px;
}
.btn-third{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background-color: #005FAC;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 15px;
}
a{
    text-decoration: none;
    margin-left: 10px;
}
.input-subs{
    background-color: #151414;
    border-radius: 5px;
    border: 2px solid gray;
    padding: 5px 10px;
}